.coustom-toast{
    top:25%;
    left:67%;
}
.coustom-toast ::before{
    content: "";
    background-color: #3F87F5;
    width: 8px;
    height: 37px;
    border-radius: 6px 0px 0px 3px;
}
.coustom-toast-header{
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.strong-text{
    margin-left: 5px;
}
.toast-img{
    margin-left: 7px;
}
.plan{
    list-style: none;
}
.plan li{
    padding-bottom: 5px;
    color: #B2B0BF;
}
.coustom-fa-background{
    color: #8378D4;
}
.coustom-outline-btn{
    background-color:#FEF5FA ;
    color: #639BF5;
}
.coustom-badge{
    top: -12px;
    right: 26px;
    background-color: #FF4E4E;
}